fastapi                # Web framework for building APIs
uvicorn                # ASGI server for FastAPI
openai                 # OpenAI API client
sentence-transformers  # Embedding models for NLP tasks
faiss-cpu              # Efficient similarity search (CPU version)
python-dotenv          # Load environment variables from .env files
anthropic              # Anthropic API client (e.g., Claude)
hf_xet                 # To download the model fast
sqlalchemy             # SQL toolkit and ORM
aiosqlite              # Async SQLite driver for SQLAlchemy
asyncpg                # Async PostgreSQL driver for SQLAlchemy
